body {
	overflow-x: hidden;
}
.navbar-brand {
	color:white;
}
.navbar-auth {
	margin-right: 20px;
	margin-top: 10px;
}
.navbar-auth a {
	margin-left: 5px;
}
.register-body , .login-body {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 100%;
}
.home {
	margin-top: -19px;
	background: #546777;
	height: 200px;
	color:white;
}
.home-title {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 100%;
	font-size: 1.3em;
}
.home-title p {
	position: absolute;
	width: 100%;
	margin-left: -20px;
}
.app-title {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	font-size: 2em;
	
}
.signup  {
	margin-left: -60px;
}
.signup a{
  width: 120px;
  display: block;
  margin-top: -120px;
  margin-left: auto;
  margin-right: auto;
}
.alert-block {
	color:red;
}
.poll-btn {
	margin-top: -100px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.poll-btn a {
	display: block;
	float: left;
	padding-left:10px;
	margin-left:5px;
}
.new-poll {
	clear:both;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	padding-top:50px;
	color:black;
}
.more-option-btn {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-top: 10px;
}

.option-submit-btn {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-top: 10px;
}
.option-submit-btn  a {
	margin-left: auto;
	margin-right: auto;
	width: 110px !important;
	margin-top: 10px;
}
.my-polls {
	clear:both;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	padding-top:50px;
	color:black;
}
.delete-btn {
	position: absolute;
	margin-left: 260px;
	margin-top: -34px;
}
.form-group a {
	text-decoration: none;
}
.polls {
	margin-top: 60px;
	color:black;
	margin-left: auto;
	margin-right: auto;
	width: calc((100%) - (200px));
}