.navbar-brand {
	color:white;
}
.navbar-auth {
	margin-right: 20px;
	margin-top: 10px;
}
.navbar-auth a {
	margin-left: 5px;
}
.register-body , .login-body {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 100%;
}